<<<<<<< HEAD
.db-table{
  //border: 1px solid black;
  //border-collapse: collapse;
  padding: 12em;
}

.dayView{
  font-family: Consolas;
  font-size: 6em;
  color:#E7F6F3;
}


a{
  font-family: Consolas;
  font-size: 6em;
}

a:link{
  color:#9FDDD1;
  text-decoration: none;
}

a:visited{
  color:#9FAAE1;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#gallery a {
    text-decoration:none;
    }
 
#gallery .item {
    width: 200px; height: 200px; overflow: hidden;
    float: left;
    border: 5px solid #333;
    margin: 5px;
    }
 
#gallery .item a {
    overflow: hidden;
    }
 
#gallery .item a img {
    height: 100%;
    align-self: center;
    }
 
.lightbox {
    /** Hide the lightbox */
    opacity: 0;
 
    /** Apply basic lightbox styling */
    position: fixed;
    z-index: 9999;
    width: 50%;
    height: 50%;
  //top: -100%;
    left: 0;
    color:#333333;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    }
 
.lightbox:target {
    /** Show lightbox when it is target */
    opacity: 1;
    outline: none;
    top: 0;
}
 
.lightbox .box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width:500px;
    margin: 2% auto;
    padding:10px 20px 10px 20px;
    background-color:#FFF;
    box-shadow: 0px 1px 26px -3px #777777;
    }
 
.lightbox .title {
    margin:0;
    padding:0 0 10px 0px;
    border-bottom:1px #ccc solid;
    font-size:22px;
    }
 
.lightbox .content {
    display:block;
    position:relative;
    }
 
.lightbox .close {
    display:block;
    float:right;
    text-decoration:none;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:22px;
    color:#858585;
    }
 
.clear {
    display:block;
    clear:both;
    }

=======
/*form {
	color: black;
}*/
#rach {
	color:blue;
}

#topdiv {
	height: 10em;
	width: 60em;
	border-width: 2px;
	border-color: grey;
	border-top-left-radius: 150px;
	border-top-right-radius: 15px;
	border-top-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	background-color: #F2F2F2;
	text-align: center;	
}

#middiv {
	height: 40em;
	width: 60em;
	border-width: 2px;
	border-color: grey;
	border-style: solid;
	background-color: #F2F2F2;
}


#button_next_back {
	position: relative; left:40em;
	height: 20px;
	width: 20px;
}

#button_back_symbol {
	position: relative; left:40em;
	height: 20px;
	width: 20px;
}

#button_next_symbol {
	position: relative; left:41em;
	width: 20px;
	height: 20px;
}

#black_bar {
	height: 2em;
	width: 60.3em;
}

table {
	border-color: grey;
	text-align: center;
	background-color:#D8D8D8;
}

body {
	padding-left: 11em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color : black;
	background-image:url(images/pattern.jpg);
}

a:link {
	color: black;
	font-family: Verdana;
	text-decoration: none;
}
a:visited{
	color: green;
	text-decoration: none;
}
center {

}
>>>>>>> e3023139ec6cd6c6b117b3176954509d35fccc01
